<!DOCTYPE html>
<html lang="es">
  <!-- -head- -->
<head>
  <!-- -metas- -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- -end of metas- -->
  <!-- -links- -->
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/animation.css">
  <link rel="stylesheet" href="../CSS/mediatablet.css" media="screen and (min-width: 480px)">
  <link rel="stylesheet" href="../CSS/medialaptop.css" media="screen and (min-width: 768px)">
  <link rel="stylesheet" href="../CSS/mediadesktop.css" media="screen and (min-width: 1024px)">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <!-- -end of links- -->
  <title>Sara Pagini - Mensaje</title>
</head>
<!-- -end of head- -->
<!-- -body- -->
<body class="message-body">
  <!-- -header- -->
  <header class="message-header">
    <div class="message-header__container">
      <a href="../index.html"><img src="../ASSETS/ICONOS/regresa.png" alt="volver al home"></a>
    </div>
  </header>
  <!-- -end of header- -->
  <!-- -main- -->
  <main class="message-main">

    <div class="message-main__container">
      <form action="">
        <label for="name">
          <input type="text" placeholder="Tu nombre" id="name">
        </label>
        <label for="input-message">
          <input type="text" placeholder="Dejame un mensaje." id="input-message">
        </label>
        <label for="submit">
          <input type="submit" id="submit">
        </label>
      </form>
    </div>

  </main>
  <!-- -end of main- -->
  <!-- -nav- -->
    <nav class="message-nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="presentacion.html "><img src="../ASSETS/ICONOS/pregunta.png" alt="¿Quien soy?"></a></li>
        <li class="nav__item"><a href="photos.html"><img src="../ASSETS/ICONOS/camara.png" alt="Fotos"></a></li>
        <li class="nav__item"><a href="video.html"><img src="../ASSETS/ICONOS/video.png" alt="Videos"></a></li>
      </ul>
    </nav>
  <!-- -end of nav- -->

  <!-- -footer- -->
  <footer class="message-footer">
    <p>all rights reserved</p>
    <ul class="footer__list-container">
      <li class="footer__list-item"><a href="https://www.linkedin.com/in/diego-pagini-3b5401189/"><img src="../ASSETS/ICONOS/instagram.png" alt="instagram"></a></li>
      <li class="footer__list-item"><a href="https://www.instagram.com/d.p_dev/?hl=es-la"><img src="../ASSETS/ICONOS/linkedin.png" alt="linkedin"></a></li>
    </ul>
  </footer>
  <!-- -end of footer -->


  <!-- -script- -->
  <script src="./JS/index.js"></script>
  <!-- -end of script- -->
</body>
<!-- -end of body- -->
</html>